.slider {
    margin: 50px; /* Center the slider container and add margin */
    background-color: #808080a9; /* Background color */
    border-radius: 5px;
    border: 100px;
    
    
    
}

.slide-content {
    display: flex !important;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Space between image and text */
}

.slide-img {
    flex: 1; /* Ensure image section takes up some space */
   
}

.slide-img img {
    width: 150px; /* Adjust width as needed */
    height: 150px;
    border-radius: 50px;
    margin-left: 200px;
    
}

.slide-text {
    flex: 2; /* Ensure text section takes up more space */
    text-align: left; /* Align text to the left */
}
